/*
*
* Purpose : My First LWC Component
*
*Created Date : 05/19/2023
*
* Created By : Amit Kumar
*
* Revision Log : v_1.0 - created - 05/19/2023
*
*/
.clickhere
{
	font-family: fantasy;
	color : rgb(235, 109, 12);
	font-size: 22px;
	cursor: pointer;
	text-align: center;
}

.temp
{
	background-color: rgba(242, 8, 215, 0.222);
}